:root {
  --primary-color: #008a70;
  --secondary-color: #001a31;
  --bg-color: #7aa3b7;
}

body {
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  margin: 0;
  font-family: "Arial", sans-serif;
}

.weather-widget {
  background: linear-gradient(
    to bottom,
    var(--secondary-color),
    var(--primary-color)
  );
  border-radius: 10px;
  color: white;
  width: 300px;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.weather-header {
  text-align: center;
}

.weather-header p {
  margin: 0;
  font-size: 1rem;
}

.weather-header h2 {
  margin: 0.5rem 0;
  font-size: 1.3rem;
}

.weather-body {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  margin: 1.5rem 0;
}

.weather-icon img {
  color: #fff;
  width: 10rem;
}

.temperature p {
  margin: 0.1rem 0;
  font-size: 1.5rem;
  color: #bdc3c7;
}

.temperature h1 {
  margin: 1rem 0;
  font-size: 50px;
}
