@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  --primary-color: #008a70;
  --secondary-color: #001a31;
  --bg-color: #5caca3;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  color: var(--secondary-color);
}
.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
  filter: contrast(0.5);
}
.video-background video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* .content {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
} */

.logo {
  width: 7rem;
  height: 7rem;
  object-fit: cover;
}

#locate {
  color: var(--secondary-color) !important;
  font-size: 1.3rem;
}

.form-control {
  outline: none !important;
}

.search {
  color: var(--secondary-color) !important;
  border: none !important;
  outline: none !important;
  transition: all 0.4s;
}

.search:hover,
.search:active {
  border: none !important;
  outline: none !important;
  transform: scale(1.2);
}

.weather-widget {
  background: linear-gradient(
    to bottom,
    var(--secondary-color),
    var(--primary-color)
  );
  filter: opacity(0.9);
  border-radius: 10px;
  color: white;
  padding: 1rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  position: relative;
}

.close-icon {
  position: absolute;
  top: 0;
  right: 0.8rem;
  font-size: 1rem;
  color: white;
  cursor: pointer;
}

.weather-header {
  text-align: center;
  position: relative;
}

.weather-header p {
  margin: 0;
  font-size: 1rem;
}

.weather-header h2 {
  margin: 0.5rem 0;
  font-size: 1.3rem;
}

.weather-body {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  margin: 1.5rem 0;
}

.weather-icon img {
  color: #fff;
  width: 10rem;
}

.temperature p {
  margin: 0.1rem 0;
  font-size: 1.5rem;
  color: #bdc3c7;
}

.temperature h1 {
  margin: 1rem 0;
  font-size: 50px;
}
